
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

:root {
    --primary-font: 'Josefin Sans', sans-serif;
    --text-dark: #333333;
    --text-light: #666666;
    --bg-light: #f4f7f6;
}