/* GENEL */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #ffffff;
    line-height: 1.6;
    background-image: url('../../img/arka.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* NAVBAR */
.navbar {
    background: transparent;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-grow: 1;
}
.nav-links-desktop { 
    display: flex;
    gap: inherit; 
    justify-content: center;
    align-items: center;
}

.nav-links a {
    font-weight: 700!important;
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 2px solid transparent;
}
.nav-links-mobile {
    display: none !important;
}

.nav-links a:hover {
    color: #ef6e6e;
    border-bottom-color: #ef6e6e;
}

/* SADECE MAIL İKONU KALSIN */
.icons {
    display: flex;
    align-items: center;
}

.icons i {
    font-size: 1.4rem;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:not(.fa-envelope) {
    display: none !important;
}

/* HEADER */
.header img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

/* HOME KUTULARI */
.home-content {
    padding: 60px 0;
}

.info-card {
    background: rgba(255,255,255,0.1);
    padding: 40px;
    width: 70%;
    margin: 0 auto 40px;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.8s ease;
    border-radius: 40px;
    backdrop-filter: blur(10px);
}

.info-card.active {
    opacity: 1;
    transform: translateY(0);
}

.info-card h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.info-card h3::after {
    content: "";
    width: 60%;
    height: 3px;
    background: #ef6e6e;
    display: block;
    margin: 10px auto 0;
}
