.container {
    width: 90%;
    max-width: 1000px; 
    margin: 0 auto; 
}
body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #232323;
    line-height: 1.6;
    
     background-image:url('../../img/arka.jpg');
    background-size: cover;
    background-position: center center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}     
/*UST MENU*/
.navbar {
    background-color:transparent; 
    height: 70px;
    box-shadow: none; 
    position: sticky; 
    top: 0;
    z-index: 100;
}
.navbar-content {
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}     

.brand {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--text-dark);
}
.nav-center {
    display: flex;
    justify-content: center; 
    flex-grow: 1; 
    height: 100%;
    align-items: center;
}

.nav-links a {
    margin: 0 20px; 
    font-weight: 600;
    font-size: 1.5rem; 
    color: #ffffff;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.nav-links a:hover {
    color: #ef6e6e;
    border-bottom-color: #ef6e6e; 
}

.icons {
    color: #f8f8f8;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.icons i {
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #ef6e6e; 
}
/*GORSEL*/
.header img {
    width: 100%;
    max-height: 400px; 
    object-fit: cover; 
    border-bottom: 3px solid var(--primary-color);
}

/*KUTULAR*/
#about-card {
    margin: 0 auto !important;
    width: 80% !important;    
    min-height: 60vh;          

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-content {
    padding: 60px 0;
    overflow-x: hidden; 
}

.info-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 50px; 
    box-shadow: 0 5px 20px rgba(0,0,0,0.08); 
    margin-bottom: 40px;
    text-align: center;
    backdrop-filter: blur(10px);
    width: 70%; 
    opacity: 0;
    transition: all 1s ease; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.info-card:nth-child(odd) {
    margin-right: auto; 
    margin-left: 0;
    transform: translateX(-150px); 
}

.info-card:nth-child(even) {
    margin-left: auto; 
    margin-right: 0;
    transform: translateX(150px); 
}

.info-card.active {
    opacity: 1;
    transform: translateX(0); 
}

.info-card h3 {
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.info-card h3::after {
    content: '';
    display: block;
    width: 60%;
    height: 3px;
    background-color:#ef6e6e;
    margin: 10px auto 0; 
    border-radius: 2px;
}

.card-content p {
    font-size: 1.1rem;
    color: #e0e0e0;
    max-width: 100%; 
    margin: 0 auto;
}

.menu-toggle {
    display: none; 
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 15px; 
}

.navbar-brand-left {
    font-weight: 700;
    font-size: 1.5rem; 
    color: var(--text-dark); 
}

.mobile-icon-link {
    display: none;
}

@media (max-width: 700px) {

    .nav-center {
        display: none !important; 
    }
    
    .menu-toggle {
        display: none !important; 
    }

    .navbar-content {
        justify-content: space-around;
    }
    .icons {
        flex-grow: 1; 
        justify-content: center; 
        display: flex;
        
    }
    .icons i {
        margin-right: 25px; 
    }
    
    .mobile-icon-link {
        display: inline-block !important; 
        margin: 0 5px;
    }
    .mobile-icon-link img {
        width: 30px; 
        height: 30px; 
        object-fit: contain;
        vertical-align: middle;
        margin: 0 15px;
    }
    
    .nav-center.menu-links-container {
       display: none;
    }
    
    .nav-center.active {
        display: flex;
    }

    .menu-toggle {
        display: block; 
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .nav-links a {
        width: 90%;
        margin: 10px 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
        border-bottom-color: transparent; 
    }
}